<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: lightblue;
      }

      h1 {
        color: white;
        text-align: center;
      }

      p {
        font-family: verdana;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <h1>ini adalah bagian header</h1>
    <p><a href="https://www.youtube.com/watch?v=Ce4Q1xLDNjE&list=PL4SGTPmSY0qngs44Ssc0RHO9h4fmZ9JUb">open youtube to terraform toturial</a></h1>
        <img src="flask_logo.png" alt="" width="300" height="600" align="center">
    <p>This is a paragraph.</p>
    <h6>ini ada header bawah</h6>
  </body>
</html>
